MachineLearning/log/
__pycache__/
*.py[cod]
*.pyc
*$py.class
.vscode
*.gz
*.tar
*.zip
*.pb
./MachineLearning/object_detection/
./MachineLearning/models/
./MachineLearning/log/
./test/
./test_images/
ssd*
faster*

